:host #frameContainer {
    position: absolute;
    overflow: visible;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

:host graph-paper /deep/ #paper {
	border: 1px solid #8c8c8c;
}