:host #uiControls {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    border-left: 1px solid #ababab;
    -webkit-user-select: none;
}

:host #uiControls.collapsed {
    width: 58px;
}

:host .uiControlsContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f3f3f3;
}

:host .uiControlsContainer core-icon-button {
    color: #fff;
    border-radius: 0;
}

:host .uiControlsContainer core-icon-button:hover:not([disabled]) {
    box-shadow: none;
    background: #3e6db5;
}

:host .uiControlsContainer core-icon-button:active:not([disabled]),
:host .uiControlsContainer core-icon-button.selected:active:not([disabled]) {
    box-shadow: none;
    background: #000;
}

:host .uiControlsContainer paper-input {
    padding: 0;
    padding-bottom: 0.75em;
    width: auto;
}

:host .uiTools {
    background-color: #333;
}

:host #controls {
    padding: 8px 16px;
    background-color: #eee;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    overflow: auto;
}

:host #controls paper-radio-button {
    padding: 6px 12px;
    float: left;
    clear: both;
}

:host #controls.collapsed {
    opacity: 0;
}

:host .uiControlLabel {
    white-space: nowrap;
    font-weight: 500;
}

:host .checkboxContainer {
    float: left;
    clear: both;
}

:host paper-slider {
    width: 100%;
}

:host paper-slider /deep/ #sliderContainer.editable {
    margin: 0;
}

/* Width is set to 50px (default is 40px) to fit in a four-decimal place fractional value */
:host paper-slider /deep/ .slider-input {
    width: 50px;
    padding: 0;
    padding-bottom: 0.75em;
}

:host #controls paper-checkbox {
    padding: 6px 12px;
    float: left;
    clear: both;
}

:host paper-checkbox::shadow #ink[checked] {
    color: #4285f4;
}

:host paper-checkbox::shadow #checkbox.checked {
    border-color: #4285f4;
}